services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.production
      args:
        BUILD_CONFIGURATION: Release
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    env_file:
      - .env
    restart: always
    labels:
      - traefik.http.routers.dashboard-backend-web.rule=Host(`api-dashboard.daregu.local`)
      - traefik.http.routers.dashboard-backend-web.entrypoints=web
      - traefik.http.services.dashboard-backend-web.loadbalancer.server.port=8090
      - traefik.http.routers.dashboard-backend-web.service=dashboard-backend-web
      - traefik.enable=true
    networks:
      - dokploy-network
networks:
  dokploy-network:
    external: true
