services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.production
      args:
        BUILD_CONFIGURATION: Release
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    env_file:
      - .env
    restart: always
